{% extends 'base.html' %}
{% load static %}

{% block page_title %}
Jadwal
{% endblock page_title %}

{% block aside %}
<a href="{% url 'import_excel' %}" class="nav-link active">
  <i class="nav-icon far fa-file-excel"></i>
  <p>Import Excel</p>
</a>
{% endblock aside %}

{% block contents %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <h1>Selamat Datang</h1>
      <h4>Anda bisa secara manual memasukkan data satu per satu atau langsung import dari file excel</h4>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card card-success">
        <div class="card-header">
          <h3 class="card-title">Import Excel</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-primary btn-sm" data-card-widget="collapse" data-toggle="tooltip"
              title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-primary btn-sm" data-card-widget="remove" data-toggle="tooltip"
              title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="exampleInputFile">Masukkan File Excel</label>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="exampleInputFile" name="jadwal">
                  <label class="custom-file-label" for="exampleInputFile">Cari file excel ...</label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary float-right">Submit</button>
          </form>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.Main content -->
</div>
<!-- /.content-wrapper -->
{% endblock contents %}

{% block script %}
<!-- bs-custom-file-input -->
<script src="{% static 'vendor/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- Page script -->

<script>
  $(document).ready(function () {
    bsCustomFileInput.init();
  });
</script>
{% endblock script %}